Import Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

Load the datasets

In [2]:
jan = pd.read_csv("202201-divvy-tripdata.csv")
feb = pd.read_csv("202202-divvy-tripdata.csv")
mar = pd.read_csv("202203-divvy-tripdata.csv")
apr = pd.read_csv("202104-divvy-tripdata.csv")
may = pd.read_csv("202105-divvy-tripdata.csv")
jun = pd.read_csv("202106-divvy-tripdata.csv")
jul = pd.read_csv("202107-divvy-tripdata.csv")
aug = pd.read_csv("202108-divvy-tripdata.csv")
sep = pd.read_csv("202109-divvy-tripdata.csv")
octo = pd.read_csv("202110-divvy-tripdata.csv")
nov = pd.read_csv("202111-divvy-tripdata.csv")
dec = pd.read_csv("202112-divvy-tripdata.csv")

Create a list of the datasets

In [3]:
data_list = [apr, may, jun, jul, aug, sep, octo, nov, dec, jan, feb, mar]

Merge the datasets and check the datatypes

In [4]:
merged_df = pd.concat(data_list)

merged_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

Convert the 'started_at' and 'ended_at' columns to datetime objects to calculate the length of each ride

In [5]:
merged_df['started_at'] = pd.to_datetime(merged_df['started_at'])
merged_df['ended_at'] = pd.to_datetime(merged_df['ended_at'])

In [6]:
merged_df[['started_at', 'ended_at']].dtypes

started_at    datetime64[ns]
ended_at      datetime64[ns]
dtype: object

Calculate the length of each ride and check the columns

In [7]:
merged_df['ride_length'] = merged_df['ended_at'] - merged_df['started_at']

merged_df['ride_length']

0        0 days 00:31:19
1        0 days 01:04:18
2        3 days 22:57:39
3        0 days 00:25:06
4        0 days 01:31:17
               ...
284037   0 days 00:08:29
284038   0 days 00:46:12
284039   0 days 00:13:28
284040   0 days 00:05:40
284041   0 days 00:09:59
Name: ride_length, Length: 5723532, dtype: timedelta64[ns]

In [8]:
#Get day of the week each ride started
merged_df["day_of_week"] = merged_df["started_at"].dt.dayofweek
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week
0,6C992BD37A98A63F,classic_bike,2021-04-12 18:25:36,2021-04-12 18:56:55,State St & Pearson St,TA1307000061,Southport Ave & Waveland Ave,13235,41.897448,-87.628722,41.948150,-87.663940,member,0 days 00:31:19,0
1,1E0145613A209000,docked_bike,2021-04-27 17:27:11,2021-04-27 18:31:29,Dorchester Ave & 49th St,KA1503000069,Dorchester Ave & 49th St,KA1503000069,41.805772,-87.592464,41.805772,-87.592464,casual,0 days 01:04:18,1
2,E498E15508A80BAD,docked_bike,2021-04-03 12:42:45,2021-04-07 11:40:24,Loomis Blvd & 84th St,20121,Loomis Blvd & 84th St,20121,41.741487,-87.658410,41.741487,-87.658410,casual,3 days 22:57:39,5
3,1887262AD101C604,classic_bike,2021-04-17 09:17:42,2021-04-17 09:42:48,Honore St & Division St,TA1305000034,Southport Ave & Waveland Ave,13235,41.903119,-87.673935,41.948150,-87.663940,member,0 days 00:25:06,5
4,C123548CAB2A32A5,docked_bike,2021-04-03 12:42:25,2021-04-03 14:13:42,Loomis Blvd & 84th St,20121,Loomis Blvd & 84th St,20121,41.741487,-87.658410,41.741487,-87.658410,casual,0 days 01:31:17,5

Create Weekday dictionary

In [9]:
weekday = {
    0:'Monday',
    1:'Tuesday',
    2:'Wednesday',
    3:'Thursday',
    4:'Friday',
    5:'Saturday',
    6:'Sunday'
}

merged_df['day_of_week_name'] = merged_df['day_of_week'].apply(lambda x:weekday[x])

merged_df['day_of_week_name']

0            Monday
1           Tuesday
2          Saturday
3          Saturday
4          Saturday
            ...
284037       Sunday
284038    Wednesday
284039    Wednesday
284040       Monday
284041     Thursday
Name: day_of_week_name, Length: 5723532, dtype: object

Get Year and Month

In [10]:
merged_df['year'] = pd.DatetimeIndex(merged_df['started_at']).year
merged_df['month'] = pd.DatetimeIndex(merged_df['started_at']).month

merged_df[['year', 'month']]

        year  month
0       2021      4
1       2021      4
2       2021      4
3       2021      4
4       2021      4
...      ...    ...
284037  2022      3
284038  2022      3
284039  2022      3
284040  2022      3
284041  2022      3

[5723532 rows x 2 columns]

In [11]:
merged_df[['start_date', 'start_time']] = merged_df['started_at'].astype(str).str.split(' ', n=1, expand=True)

merged_df['start_date'] = pd.to_datetime(merged_df['start_date'])
merged_df['start_time'] = pd.to_datetime(merged_df['start_time'])

merged_df[['start_date', 'start_time']]

       start_date          start_time
0      2021-04-12 2022-08-01 18:25:36
1      2021-04-27 2022-08-01 17:27:11
2      2021-04-03 2022-08-01 12:42:45
3      2021-04-17 2022-08-01 09:17:42
4      2021-04-03 2022-08-01 12:42:25
...           ...                 ...
284037 2022-03-13 2022-08-01 16:31:03
284038 2022-03-09 2022-08-01 06:56:02
284039 2022-03-09 2022-08-01 15:55:26
284040 2022-03-21 2022-08-01 16:12:44
284041 2022-03-03 2022-08-01 18:13:40

[5723532 rows x 2 columns]

In [12]:
merged_df = merged_df.drop(['start_time'], axis=1)

merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,day_of_week_name,year,month,start_date
0,6C992BD37A98A63F,classic_bike,2021-04-12 18:25:36,2021-04-12 18:56:55,State St & Pearson St,TA1307000061,Southport Ave & Waveland Ave,13235,41.897448,-87.628722,41.948150,-87.663940,member,0 days 00:31:19,0,Monday,2021,4,2021-04-12
1,1E0145613A209000,docked_bike,2021-04-27 17:27:11,2021-04-27 18:31:29,Dorchester Ave & 49th St,KA1503000069,Dorchester Ave & 49th St,KA1503000069,41.805772,-87.592464,41.805772,-87.592464,casual,0 days 01:04:18,1,Tuesday,2021,4,2021-04-27
2,E498E15508A80BAD,docked_bike,2021-04-03 12:42:45,2021-04-07 11:40:24,Loomis Blvd & 84th St,20121,Loomis Blvd & 84th St,20121,41.741487,-87.658410,41.741487,-87.658410,casual,3 days 22:57:39,5,Saturday,2021,4,2021-04-03
3,1887262AD101C604,classic_bike,2021-04-17 09:17:42,2021-04-17 09:42:48,Honore St & Division St,TA1305000034,Southport Ave & Waveland Ave,13235,41.903119,-87.673935,41.948150,-87.663940,member,0 days 00:25:06,5,Saturday,2021,4,2021-04-17
4,C123548CAB2A32A5,docked_bike,2021-04-03 12:42:25,2021-04-03 14:13:42,Loomis Blvd & 84th St,20121,Loomis Blvd & 84th St,20121,41.741487,-87.658410,41.741487,-87.658410,casual,0 days 01:31:17,5,Saturday,2021,4,2021-04-03

Sort by start_date

In [13]:
merged_df = merged_df.sort_values(by=['start_date'], ascending=True)

merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,day_of_week_name,year,month,start_date
112349,F2036D7149B86703,classic_bike,2021-04-01 12:36:53,2021-04-01 12:53:14,Desplaines St & Kinzie St,TA1306000003,Wolcott Ave & Polk St,TA1309000064,41.888716,-87.644448,41.871262,-87.673688,member,0 days 00:16:21,3,Thursday,2021,4,2021-04-01
150115,7A3FFF7299FA3518,docked_bike,2021-04-01 16:41:56,2021-04-01 18:39:56,Mies van der Rohe Way & Chicago Ave,13338,Morgan St & Lake St,TA1306000015,41.896910,-87.621743,41.885483,-87.652305,casual,0 days 01:58:00,3,Thursday,2021,4,2021-04-01
253260,E3C42B4CE50CEEA5,classic_bike,2021-04-01 19:00:19,2021-04-01 19:37:53,Dayton St & North Ave,13058,Paulina Ave & North Ave,TA1305000037,41.910578,-87.649422,41.910337,-87.670072,casual,0 days 00:37:34,3,Thursday,2021,4,2021-04-01
58306,05D94A29780A69D5,electric_bike,2021-04-01 22:12:54,2021-04-01 22:57:14,NaN,NaN,Wells St & Concord Ln,TA1308000050,41.870000,-87.630000,41.911952,-87.634491,member,0 days 00:44:20,3,Thursday,2021,4,2021-04-01
205013,A74026BCD0DD8063,classic_bike,2021-04-01 19:00:22,2021-04-01 19:30:32,Michigan Ave & Pearson St,13034,Sheffield Ave & Waveland Ave,TA1307000126,41.897660,-87.623510,41.949399,-87.654529,member,0 days 00:30:10,3,Thursday,2021,4,2021-04-01

In [14]:
#merged_df.to_csv('Merged.csv')

ANALYSIS

Total Number of Members per Type

In [15]:
total_members = merged_df['member_casual'].value_counts()
total_members

member    3176990
casual    2546542
Name: member_casual, dtype: int64

In [16]:
#Convert to dataframe then to CSV file
total_members_df = pd.DataFrame({"member_type":total_members.index,
                                    "number_of_users": total_members.values})
#total_members_df
#total_members_df.to_csv("total_members.csv", index=False)

Average ride length of casual users

In [17]:
casual_member = merged_df[merged_df['member_casual'] == 'casual']

avg_casual_member_ride_length = casual_member['ride_length'].mean()

avg_casual_member_ride_length

Timedelta('0 days 00:31:44.351371781')

Average Ride Length per Day for casual users

In [18]:
avg_casual_length_per_day = casual_member[['day_of_week_name', 'ride_length']]
avg_casual_length_per_day = avg_casual_length_per_day.groupby('day_of_week_name')['ride_length'].mean()

#Convert above result to dataframe
avg_casual_length_per_day_df = pd.DataFrame({"day_of_week":avg_casual_length_per_day.index,
                                    "casual_ride_length_avg": avg_casual_length_per_day.values})

avg_casual_length_per_day_df['casual_ride_length_avg'] = avg_casual_length_per_day_df['casual_ride_length_avg']/pd.Timedelta(minutes=1) #To get ride length in minutes

avg_casual_length_per_day_df

  day_of_week  casual_ride_length_avg
0      Friday               30.103184
1      Monday               31.482169
2    Saturday               34.280708
3      Sunday               37.401182
4    Thursday               27.881277
5     Tuesday               27.434753
6   Wednesday               27.765784

Average ride length of paid users

In [19]:
paid_member = merged_df[merged_df['member_casual'] == 'member']

avg_paid_member_ride_length = paid_member['ride_length'].mean()

avg_paid_member_ride_length

Timedelta('0 days 00:13:22.147240312')

Average Ride Length per Day for Paid Users

In [20]:
avg_paid_length_per_day = paid_member[['day_of_week_name', 'ride_length']]
avg_paid_length_per_day = avg_paid_length_per_day.groupby('day_of_week_name')['ride_length'].mean()
#avg_paid_length_per_day_df = avg_paid_length_per_day.to_frame()

avg_paid_length_per_day_df = pd.DataFrame({"day_of_week":avg_paid_length_per_day.index,
                                    "paid_ride_length_avg": avg_paid_length_per_day.values})

avg_paid_length_per_day_df['paid_ride_length_avg'] = avg_paid_length_per_day_df['paid_ride_length_avg']/pd.Timedelta(minutes=1) #To get ride length in minutes

avg_paid_length_per_day_df

  day_of_week  paid_ride_length_avg
0      Friday             13.139436
1      Monday             12.968374
2    Saturday             14.993210
3      Sunday             15.341231
4    Thursday             12.570855
5     Tuesday             12.521777
6   Wednesday             12.588441

Merge the average ride lengths per day for both types of users

In [21]:
avg_ride_length_per_day = pd.merge(avg_paid_length_per_day_df, avg_casual_length_per_day_df, on='day_of_week')

#avg_ride_length_per_day.to_csv('average_ride_length_per_day.csv', index=False)

Max ride length of casual users

In [22]:
max_casual_member_ride_length = casual_member['ride_length'].max()

max_casual_member_ride_length

Timedelta('38 days 20:24:09')

Max ride length of paid users

In [23]:
max_paid_member_ride_length = paid_member['ride_length'].max()

max_paid_member_ride_length

Timedelta('1 days 01:59:54')

Most frequent ride days for casual members

In [24]:
mode_ride_day_casual_member = casual_member['day_of_week_name'].mode()

mode_ride_day_casual_member

0    Saturday
dtype: object

Most frequent ride days for paid members

In [25]:
mode_ride_day_paid_member = paid_member['day_of_week_name'].mode()

mode_ride_day_paid_member

0    Wednesday
dtype: object

Number of rides per day for casual members

In [26]:
ride_per_day_casual = casual_member.groupby('day_of_week_name')['ride_id'].count().sort_values(ascending=False)

ride_per_day_casual

day_of_week_name
Saturday     550015
Sunday       482840
Friday       364282
Thursday     293632
Monday       292996
Wednesday    286402
Tuesday      276375
Name: ride_id, dtype: int64

In [27]:
#Convert to dataframe then to CSV file
ride_per_day_casual_df = pd.DataFrame({"day_of_week":ride_per_day_casual.index,
                                    "casual_number_of_rides": ride_per_day_casual.values})
#ride_per_day_casual_df
#ride_per_day_casual_df.to_csv("casual_members_rides_per_day.csv", index=False)

Number of rides per day for paid members

In [28]:
ride_per_day_paid = paid_member.groupby('day_of_week_name')['ride_id'].count().sort_values(ascending=False)

ride_per_day_paid

day_of_week_name
Wednesday    499936
Tuesday      490099
Thursday     475334
Friday       453113
Monday       439435
Saturday     431331
Sunday       387742
Name: ride_id, dtype: int64

In [29]:
#Convert to dataframe then to CSV file
ride_per_day_paid_df = pd.DataFrame({"day_of_week":ride_per_day_paid.index,
                                    "paid_number_of_rides": ride_per_day_paid.values})
#ride_per_day_paid_df
#ride_per_day_paid_df.to_csv("paid_members_rides_per_day.csv", index=False)

Merge ride per day dataframes of both casual and paid members

In [30]:
ride_per_day = pd.merge(ride_per_day_casual_df, ride_per_day_paid_df, on="day_of_week")

#ride_per_day
#ride_per_day.to_csv("rides_per_day.csv", index=False)

Check monthly trends among users

In [40]:
monthly_trend = merged_df.groupby("month")["member_casual"].value_counts()

monthly_trend_df = monthly_trend.to_frame()

#monthly_trend_df

#Convert to dataframe then to CSV file
#monthly_trend_df = monthly_trend.unstack(level=1)
#monthly_trend_df

#monthly_trend_df.to_csv("monthly_trend.csv")